<div class="main-container">
  <div class="banner">
    <div class="right-content">
      <h3 class="welcome">What is WorkFlow?</h3>
      <h1 class="own-workflow">
        A WorkFlow is the process of how you get stuff done. It’s a system that
        makes work more efficient while keeping everyone on the same page.
        Workflow management is all about building and tracking these processes.<br>
        WorkFlow is like a home base for all your workflows: use it as a tool to
        create workflows and track your team’s work.
      </h1>
    </div>
    <!--  -->
    <div class="left-content">
      <h3 class="welcome">
        <i class="bi bi-gear-wide-connected">&nbsp;Design</i>
      </h3>
      <h1 class="own-workflow">
        View, summarize, and update your tasks in-progress work to
        make data-driven management decisions and prevent work delays.
      </h1>
    </div>
    <!--  -->
    <img
      class="workflow"
      src="../../../assets/img/workflow.png"
      alt="workflow"
    />
  </div>
  <h1 class="text-center proof">Using WorkFlow as your WorkFlow Management Software</h1>
  <img class="system" src="../../../assets/img/Proof.png" alt="Our System">
</div>

