<app-navbar></app-navbar>
<div class="container" style="margin: 0 auto">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="container mb-4">
          <div class="card-body text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
              alt="avatar"
              class="rounded-circle img-fluid"
              style="width: 150px"
            />
            <h5 class="my-3">Joy Boy</h5>
            <p class="text-muted mb-1">Associate Software Developer</p>
            <p class="text-muted mb-4">Coimbatore, India</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="#">
                <i
                  class="bi bi-facebook ms-3"
                  style="color: rgba(0, 85, 255, 0.859); font-size: 1.5rem"
                ></i>
              </a>
              <a href="#">
                <i
                  class="bi bi-instagram ms-3"
                  style="color: rgba(255, 98, 124, 0.93); font-size: 1.5rem"
                ></i>
              </a>
              <a href="#"
                ><i
                  class="bi bi-twitter ms-3"
                  style="color: rgba(51, 197, 255, 0.923); font-size: 1.5rem"
                ></i
              ></a>
              <a href="#"
                ><i
                  class="bi bi-whatsapp ms-3"
                  style="color: rgba(153, 255, 0, 0.996); font-size: 1.5rem"
                ></i
              ></a>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Joy Boy Smith</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">joyboy@example.com</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">(91) 9626718828</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Coimbatore, India</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
