<app-navbar></app-navbar>
<div class="container">
  <form class="form-group" (ngSubmit)="update()" method="post">
    <div class="mb-3">
      <label for="taskname" class="form-label">Task Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="tf.taskname"
        id="taskname"
        name="taskname"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="tf.desc"
        id="desc"
        name="desc"
      />
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Status</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="tf.status"
        id="status"
        name="status"
      />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
