.container {
  width: 100%;
  max-height: 100vh;
}

table {
  width: 80%;
  margin: 5% auto;
}

th, td {
  overflow: hidden;
  width: 500px;
  text-overflow: break;
  white-space: wrap;
  align-items: center;
}

.bi {
  cursor: pointer;
}

